@import url('https://fonts.googleapis.com/css?family=Comfortaa|Gloria+Hallelujah');


/*WHOLE PAGE STYLES*/
html {
    height: 100%;
}

body {
    background-image: url("../images/doodles.png");
    height: 100%;
}

#root {
    height: 100%;
}

.gloria-font {
    font-family: 'Gloria Hallelujah', cursive;
}

/*NAVIGATION BAR*/
.navbar {
    margin: 0;
}

/*FLASH MESSAGES*/
#flash-messages {
    padding:15px;
}

/*ALL MAIN CONTENT*/
.main-container {
    height: 100%;
}

/*MIDDLE COLUMN
CONTENT IS PLACED HERE
*/
#main-page {
    height: 100%;
    padding: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    border-right: 1px solid black;
    border-left: 1px solid black;
}

#page-content {
    margin: 0px;
}

/*BOOTSTRAP PAGE HEADER STYLING*/
.page-header {
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    padding: 0px;
}

.page-header, .jumbotron{
    border-bottom: 3px solid black;

}

.page-header, .jumbotron, p {
    text-align: center;

}

/*STYLING BUCKET AND TAST LIST*/
#list-of-buckets, #list-of-tasks {
    padding: 0px;
    margin: 40px 0px 0px 0px;
}

#list-of-buckets li, #list-of-tasks li {
    border-bottom: 2px solid #000000;
    font-size: 24px;
    letter-spacing: .05em;
    list-style-type: none;
    text-align: left;
    height: 50px;
    padding-left: 1em;
    padding-top: 10px;
    transition: background-color 0.1s;
}

#list-of-buckets a,  #list-of-tasks a{
    display: inline-block;
    width: 80%;
    text-decoration: none;
    padding-right: 36px;
}

/* LIST HOVER PROPERTIES */

#list-of-buckets a:visited, #list-of-tasks a:visited {
    color: black;
    text-decoration: none;
}

#list-of-buckets li:hover a, #list-of-buckets li:hover, #list-of-tasks li:hover a, #list-of-tasks li:hover   {
    color: white;
    text-decoration: none;
    background: black;
}


/*STYLE FORMS*/
#loginForm, #registerForm {
    text-align: center;
}

#loginForm input , #registerForm input {
    display: block;
    margin: 7% auto;
    border-radius: 5%;
}

#firstBucketBlock {
    width: 100%;
    font-size: 20px;
    text-align:center;
}

#firstBucketForm>input#name {
    margin: 30px;
    border-radius: 7px;
}

#firstBucketForm>input#submit {
    margin: 20px;
    border-radius: 7px;
    color: green;
    background-color: white;
}

#newBucketForm, #newTaskForm {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    height: 50px;
    padding: 0 10%;
    font-size: 20px;
}

#add-bucketlist, #addTask {
    border-radius: 7px;
    width: 15%;
    margin: 0 0 0 5%;
    background: white;
}

#add-bucketlist:hover, #addTask:hover {
    background: black;
}

#add-bucketlist>i:hover, #addTask>i:hover {
    color: white;
}

#newBucketName, #newTaskName {
    border-radius: 7px;
    width: 80%;
    height: 80%;
}

#editBucketForm {
    width: 100%;
    display: inline-block;
}
/* DELETE AND ADD BUCKETLIST, TASK BUTTONS*/
#grouped-buttons {
    width:100%;
    text-align: center;
}

#deleteBucketLists, #deleteTasks {
    display: inline;
    margin: 10px auto;
    border: 2px solid red;
    border-radius: 15px;
    width: 30%;
    height: 50px;
    font-size: 15px;
    color: red;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.4s;

}

#deleteBucketLists:hover, #deleteTasks:hover {
    color: white;
    background-color: red;
}

#showAddBucketList, #showAddTask {
    display: inline;
    margin: 10px auto;
    border: 2px solid green;
    border-radius: 15px;
    width: 30%;
    height: 50px;
    font-size: 15px;
    color: green;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.4s;
}

#showAddBucketList:hover, #showAddTask:hover {
    color: white;
    background-color: green;
}

/* MORE BUCKETS BUTTON*/
#more-buckets-button {
    margin: 0 0 0 46%;
    width: 100%;
}

.more-buckets-button-container {
    padding: 0 0 !important;
    width: 100% !important;
    height: 100% !important;
}

/* HELPER STYLES */
.display-hidden {
    display: none;

}

.delete {
    background-image: url("../images/delete.png");
    background-position: right, center;
    background-repeat: no-repeat;
}

.deleteButton {
    float: right;
    border-radius: 40%;
    background: white;
    color: black;
    border-color: black;
    height: 40px;
    width: 40px;
}

/*LOADING DOTS*/
.loading-dots {
    text-align: center;
    z-index: 5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    padding-top: 50%;
    top: 1%;
    left: 1%;
    /*margin-top: -100px; !* Negative half of height. *!*/
    /*margin-left: -250px; !* Negative half of width. *!*/
    font-size: 50px;
}

.loading-dots .dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    top: -1em;
    font-size: 3.5em;
    opacity: 0;
    animation: showHideDot 2.5s ease-in-out infinite;
}

.loading-dots .one { animation-delay: 0.2s; }
.loading-dots .two { animation-delay: 0.4s; }
.loading-dots .three { animation-delay: 0.6s; }


@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
}